.contact-section{
    background-image: url('/src/components/images/contact.jpg');
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px; 
    display: flex;
    align-items: center;
    color: white;
}

form {
    max-width: 100%;
  }
  
  .shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  button {
    width: 150px;
  }
  