.contact-section{
    background: url("/src/components/images/contact.jpg") no-repeat center center/cover;
    opacity: 0.8;
    min-height: 300px;
    padding: 100px 0;
    color: white;
    position: relative;
}

form {
    max-width: 100%;
  }
  
  .shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  
  button {
    width: 150px;
  }
  